@font-face {
  font-family: titlefont;
  src: url('Womby-Regular.ttf');
}

:root {
  font-family: sans-serif;
  color: #093e4c;
  --col1: #117a93;
  --col2: #569c66;
  --col3: #f7743b;
  --bg: #d2ceb7;
}

body {
  font-size: 200%;
  display: block;
  position: relative;
  background-color: var(--bg);
  background-color: #d6d3c9;
  background-image: url("https://cdn.discordapp.com/attachments/594581200249684084/1178651731958169620/bg.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  color: #093e4c;
  overflow: hidden;
}

#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}


header {
  height: 10vh;
  border-bottom: #093e4c 4px solid;
}

main {
  position: relative;
  height: 90vh;
  width: 100vw;
  margin: 0 auto;
  margin-right: 0;
  display: inline-flex;
}

article {
  width: 50vw;
  height: auto;
}

img {
  height: auto;
  width: 50vw;
}

h2 {
  pointer-events: none;
  position: relative;
  margin: 0 5vw auto auto;
  text-align: right;
  font-size: 150%;
  font-family: titlefont;
  margin-top: -4vh;
}

br {
  line-height: 100%;
}

strong {
  border: 1px #9d9d9d solid;
  border-radius: 10%;
  padding-left: 1%;
  padding-right: 1%;
}

#boxes {
  display: flex;
  flex: right;
  width: 50%;
  padding: 5% 5% 5%;
  height: 50vh;
}

nav {
  margin: auto;
}

#textbox {
  display: flex;
  text-align: right;
  margin-bottom: 0;
  margin-top: auto;
}

a,
a:visited {
  text-decoration: none;
  color: #093e4c;
}

.a {
  font-size: 100%;
  background-color: var(--col3);
  color: var(--bg) !important;
  /* border: 2px solid var(--col1); */
}

.b {
  font-size: 100%;
  background-color: var(--col2);
  color: var(--bg) !important;
  /* border: 2px solid var(--col2); */
}

.c {
  font-size: 100%;
  background-color: var(--col1);
  color: var(--bg) !important;
  /* border: 2px solid var(--col3); */
}

#big {
  border-radius: 5vh;
  padding-left: 10px;
  padding-right: 10px;
}

#big:hover {
  border-radius: 10px;
  transition: 0.3s;
}

button,
a {
  cursor: pointer;
  line-height: 25px;
  /* width:150px;
  height: 50px; */
  transition: 0.3s;
  padding: 0;
  background: transparent;
  border: none;
}

#selected {
  padding-left: 25px;
  width: 50%;
  margin: 0 auto;
}

#small {
  background-color: #d6d3c9;
  border: none;
  border-radius: 0px;
  height: 12px;
  margin-top: vh;
  line-height: 13px;
  font-size: 50%;
  align-content: start;
}

#progress-bar {
  color: #d6d3c9;
  background-color: #117a93;
  width: 10%;
  margin-left: 0;
}

#top-nav {
  z-index: 999;
  text-align: left;
  margin-top: 4vh;
  margin-left: 5vw;
}

hr {
  display: none;
  width: 100%;
  color: #093e4c;
}

#dot {
  height: 100%;
  padding-top: 100%;
  margin-left: 5vw;
}

#space {
  width: 70%;
}

h1 {
  position: relative;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 10vh;
  font-size: 200%;
  font-style: bold;
  font-family: titlefont;
}

#start-btn {
  width: 100vw;
  position: absolute;
  display: flex;
  margin: 50vh auto;
}

#start {



  margin: 0 auto;
}

#start-nav {
  line-height: 10vh;
  border-radius: 50%;
  width: 20vw;
  height: 10vh;
  border: #093e4c 4px solid;
}

#texto {
  font-size: 75%;
  line-height: auto;
  background-color: #d2ceb7b1;
  text-align: left;
}