:root {
  font-family: sans-serif;
  color: #117a93;
}

body {
  font-size:200%;
  display: block;
  position: relative;
  background-color: #ede7d7;
  background-color: #d6d3c9;
  background-image: url("https://cdn.discordapp.com/attachments/594581200249684084/1176115245585014784/bg-tmp.png");
  /*background-image: url('https://cdn.discordapp.com/attachments/594581200249684084/1173598288017113108/chars-trnas-2.png');
  */background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
#wrapper {
  width: 100%;
}/*
header {
  height: 50vh;
}*/

main {
  width: 60%;
  justify-content: center;
  margin: 0 auto;
}

article {
  min-width: 10%;
  max-width: 40%;
  max-height: 15vh;
  margin: 2vh auto;
  border-radius: 10px;
  border: 2px solid #9d9d9d;
  background-color: #ffffff77;
  min-height: 25px;
  padding: 10px;
  line-height: 100%;
}

#selected {
  
  padding: 25px;
  width: 100%;
  
}
h2 {
  position:relative;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 60%;
  font-size: 150%;
}
br {
  line-height: 100%;
}
strong {
  border: 1px #9d9d9d solid;
  border-radius: 10%;
  padding-left: 1%;
  padding-right: 1%;
}
#boxes {
  padding: 5% 0;
  margin: 0 auto;
  height: 10vh;
  width:60%;
} 

nav {
  box-sizing: border-box;
  display: flex;
  padding: auto;
  padding-left: 0;
  justify-content: space-evenly;
}

a, a:visited {
  color: #117a93;
  text-decoration: none;
  text-decoration-color: #000;
  font-variant: small-caps;
  vertical-align: middle;
  display: inline-block;
  background-color: #ede7d777;
  margin: auto;
  border: 2px solid #9d9d9d;
}
.a {
  border: 2px solid orange;
}
.b {
  border: 2px solid red;
}
.c {
  border: 2px solid blue;
}
#big {
  border-radius: 25px;
  line-height: 50px;
  width:150px;
  height: 50px;
  transition: 0.3s;
}
#big:hover {
  border-radius: 10px;
  transition: 0.3s;
}
#small {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin-top: 10vh;
  line-height: 50px;
  font-size: 50%;
}

#top {
  padding-top: 5vh;
}
#top-nav {
  justify-content: unset;
  width: 80%;
  margin: 0 auto;
}
hr {
  width: 80%;
}
 #dot {
  width: 20px;
  height:20px;
  background-color: #117a93;
  border-radius: 50%;
  border: none;
  margin-left: 0;
  margin-right: 20px;
 }
 #space {
  width: 70%;
 }
 #textbox {
  width: 20%;
  text-align: right;
  margin-left: 0;
  border: 2px #117a93 solid;
  border-radius: 20px;
  padding-right: 2vw;
 }

 h1 {
  position:relative;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: 200%;
  font-style: bold;
}
#start {
  width: 20vw;
  height: 10vh;
  line-height: 10vh;
  border-radius: 5vh;
}

footer {
  position: absolute;
  height: 100px;
  width: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/594581200249684084/1176118038270050374/wave.png");
  background-repeat: repeat-x;
  margin-bottom: 0;
  bottom: 0;
}